.typing-indicator {
  display: flex;
  gap: 5px;
  padding: 10px;
  align-items: center;
  background-color: #111b21;
  border-radius: 12px;
  width: fit-content;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: gray;
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out both;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0.3;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}
